---
import MainLayout from "../../../../layouts/MainLayout.astro";

---

<MainLayout>
  <div class="pt-6">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <div class="flex justify-between">

        <p class="text-2xl font-extrabold dark:text-white">CREATE_PROJECT.DEFAULT_PJ_NAME</p>

        <div>

          <button class="btn btn-outline btn-info">Add</button>
          <button class="btn btn-outline btn-success">Update</button>         
          <button class="btn btn-outline btn-error">Delete</button>
        </div>
      </div>

     
      <div>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <!-- head -->
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Datastore ID</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- row 1 -->
              <tr>
                <th>1</th>
                <td>Cy Ganderton</td>
                <td>Quality Control Specialist</td>
                <td>
                  <div>
                    <button class="btn btn-sm btn-outline">Update</button>
                    <button class="btn btn-sm btn-outline">Delete</button>
                  </div>
                </td>
              </tr>
              <!-- row 2 -->
              <tr class="hover">
                <th>2</th>
                <td>Hart Hagerty</td>
                <td>Desktop Support Technician</td>
                <td>
                  <div>
                    <button class="btn btn-sm btn-outline">Update</button>
                    <button class="btn btn-sm btn-outline">Delete</button>
                  </div>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <button class="btn">Add Datastore </button>
      </div>
    </div>
  </div>
</MainLayout>