---

import Login from "../components/auth/Login";
let values = {
  email: "",
};
const handleSubmit = () => {
  Astro.redirect("/workspaces");
};

---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hexabase</title>
  </head>
  <body>
    <div class="app-container">
      <div class="main">
        <div class="main-top"></div>

        <div class="main-body">
          <Login client:visible  />
        </div>

        <a href="/workspaces">Test</a>
      </div>
    </div>
  </body>
  <>
    <style></style>
  </>
</html>
